<ngb-accordion #a="ngbAccordion">
  <ngb-panel>
    <ng-template ngbPanelHeader let-opened="opened">
      <div class="d-flex align-items-center justify-content-between">
        <h5 class="m-0"><strong>SciFind</strong></h5>
        <button ngbPanelToggle class="btn btn-link p-0">Documentation</button>
      </div>
    </ng-template>
    <ng-template ngbPanelContent>
      <div>
        <strong>What is SciFind?</strong>
        <br>
        SciFind is a light weight search engine for scientific research and
        a pilot project of <a href="https://www.healthyego.studio">PunktStrich</a>.
        It does not track your behaviour nor your inputs,
        it simply makes an http-request to the data provider and
        prepares the data to be displayed in a visual appealing, clear way.
        <br>
        <br>
        <strong>How does it work?</strong>
        <br>
        First a search query needs to be entered into the input.
        By pressing one of the buttons the user decides which database should be searched.
        Momentarily, SciFind provides three different data sources:
        <ul>
          <li>IEEE</li>
          <li>Elsevier</li>
          <li>Springer</li>
        </ul>
        After the entries have been loaded,
        the user can scroll for sources of interest and
        by clicking on the title be directed to the original website to access the full article.
        <br>
        <br>
        <strong>Future plans?</strong>
        <br>
        As this side is a pilot project, more features might be added later if there is enough resonance.
        Planned features do include
        supplying a bibtex format for quickly adding the sources to the user's personal reference management library and
        further data sources.
        However, the latter might be problematic since not all research platforms do provide open api access.
        For questions, feedback or complaints,
        do not hesitate to <a href="mailto:paul.schlenzig@nordakademie.de">contact us</a>.
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
