$secondary: #edff21;

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  text-align: right;
}

a {
  color: $secondary;
}

a:hover {
  color: $secondary;
}
