<div class="mt-5">
  <form [formGroup]="searchForm">
    <div class="center">
      <div class="row">
        <div class="col-12 p-0">
          <div class="form-group">
            <input type="text" class="form-control" formControlName="searchQuery" placeholder="Search ...">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4 pl-0 pr-2">
          <button
            class="button btn btn-primary searchButton"
            id="searchButtonIEEE"
            (click)="onSearchIeee()"
          >IEEE</button>
        </div>
        <div class="col-4 pr-1 pl-1">
          <button
            class="button btn btn-primary searchButton"
            id="searchButtonElsevier"
            (click)="onSearchElsevier()">
            Elsevier</button>
        </div>
        <div class="col-4 pr-0 pl-2">
          <button
            class="button btn btn-primary searchButton"
            id="searchButtonSpringer"
            (click)="onSearchSpringer()">
            Springer</button>
        </div>
      </div>
    </div>
  </form>
</div>

