$secondary: #edff21;

.center {
  margin: auto;
  width: 50%;
  min-width: 350px;
  padding: 10px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.searchButton {
  display: block;
  width: 100%;
}
